* {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

p {
    color: #999999;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

p a {
    text-decoration: none;
    color: #ee0063
}

h1 {
    font-size: 30px;
    color:black;
    text-align: center;
}

nav {
    background-color: #4f8aff;
    text-align: center;
    font-size: 0;
}

nav a {
    background-color:  #4f8aff;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    font-size: 16px;
    transition: 0.5s;
}

nav a:hover {
    background-color: #ffaa00;
}

.special {
    color: black;
    margin: 0px;
    font-size: 16px;
    padding-left: 10px;
}