* {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

body {
    padding-top: 60px;
    font-family: 'Microsoft JhengHei', 'arial', 'helvetica', 'sans-serif';
}

p {
    color: black;
    font-size: 16px;
    text-align: center;
}

.special {
    text-align: left;
}

.red {
    text-align: left;
    color: red;
}

.green {
    text-align: left;
    color: green;
}

.cyan {
    text-align: left;
    color: rgb(0, 200, 255);
}

.container p {
    width: 100%;
    max-width: 960px;
    margin: auto;
    line-height: 1;
    margin-bottom: 0.8em;
}

.container p.second-note {
    width: 100%;
    max-width: 845px;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 0.8em;
    text-align: left;
    font-style: italic;
    text-decoration: underline;
}

.container ul {
    width: 100%;
    max-width: 840px;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 0em;
}

.container ul ul {
    list-style: disc;
    padding: 10px 50px;
}

h1 {
    font-size: 30px;
    color:black;
    text-align: center;
    margin-bottom: 0em;
}

h2 {
    font-size: 30px;
    color:black;
    text-align: center;
    margin-bottom: 1em;
}

h3 {
    background-color: #34495e;
    padding: 16px 35px 16px 24px;
    border-left: 8px solid #41b883;

    width: 100%;
    max-width: 960px;
    font-size: 28px;
    margin: auto;
    line-height: 1;
    color:#fff;
    text-align: left;
    margin-bottom: 1em;
}

nav {
    background-color: #4f8aff;
    text-align: center;
    opacity: .85;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0px;
}

nav a {
    background-color: #4f8aff;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    font-size: 16px;
    transition: 0.5s;
}

nav a:hover {
    background-color: #ff4b96;
}

.menu {
    background-color: #4f8aff;
    text-align: center;
    opacity: .85;
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    font-size: 0px;
}